<html>
    <head>
        <title>FIRO2 FTP: /{{ path }}</title>

        <style>
        body {
            font-family: sans-serif;
            margin: 16px;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
        .container {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-left: 16px;
        }
        .icon {
            margin-top: -0.25em;
            margin-right: 8px;
            font-size: 1.5em;
        }
        .name {
            font-weight: bold;
        }
        </style>
    </head>

    <body>
        {% if path == "." %}
            <h1>Directory {{ path }}</h1>
        {% else %}
            <h1>Directory /{{ path }}</h1>
        {% endif %}

        <a class="container" href=".">
            <div class="icon">📁</div>
            <div class="name">..</div>
        </a>

        <div>
            <h2>Directories</h2>

            {% for directory in directories %}
                <a class="container" href="{{ path }}/{{ directory }}">
                    <div class="icon">📁</div>
                    <div class="name">/{{ directory }}</div>
                </a>
            {% endfor %}
        </div>

        <div>
            <h2>Files</h2>

            {% for file in files %}
                <a class="container" href="{{ path }}/{{ file }}">
                    <div class="icon">🗎</div>
                    <div class="name">{{ file }}</div>
                </a>
            {% endfor %}
        </div>
    </body>
</html>

